* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 50px;
}

.corpo {
    width: 60%;
    margin: auto;
    border: 1px solid black;
}

.cabeçalho {
    background-color: #C4C4C4;
    padding: 20px;
    border: 1px solid black;
}

.areachat {
    width: auto;
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
}

.digitarmensagem{
    width: 100%;
}

.formulario {
    background-color: #C4C4C4;
    padding: 15px 10px 15px 10px;
    width: 70%;
    margin: auto;
    display: flex;
    border-radius: 10px;
}

#campomensagem {
    height: 150px;
    width: 85%;
}

.btn {
    padding: 12px 15px 12px 15px;
    margin-left: 20px;
    background-color: #0066CC;
    border: 1px solid darkblue;
    border-radius: 10px;
    color: white;
    height: fit-content;
}

.btn:hover {
    background-color: #1177DD;
}

.divgrande {
    margin: 5px;
    text-align: right;
}
.divcriada {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(238, 231, 217);
    box-shadow: 2px 2px black;
}

.styleexcluir {
    background-color: lightcoral;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin-top: 5px;
}

.styleeditar{
    background-color: lightyellow;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    margin-top: 5px;
}

.styleexcluir:hover {
    background-color: red;
    color: white;
}

.styleeditar:hover {
    background-color: yellow;

}

.novobtn {
    width: fit-content;
}